*{
    margin: 0px;
    padding: 0px;
}
    .parent{
        width: 100%;
        background-color:gray;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 30px;
    }
.ele{
    height: 300px;
    width: 15%;
    background-color: red;
   
}
.secondsection{
    width: 100%;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display:flex;
    justify-content: space-around;
}
.ele2{
    height: 300px;
    width: 20%;
    background-color: red;